{#content}

<div class="span11">
	<div class="hero-unit">
		<h1 class="hidden-phone hidden-tablet">Wellcome to {$host}, your free YT converter.</h1>
		<p class="hidden-desktop">Wellcome to {$host}, your free YT converter.</p>
		{control processForm}
		<p>Conversion take about 5min, so please by patient.</p>
	</div>

	{snippet bar}
		{if $bar}
			<p style="text-align:center">
		    	<i class="icon-time"></i>
		    	{$progress}%				
		    </p>

		    <div id="bar" class="progress progress-striped active">
		    	<div class="bar" title="{$progress}%" style="width: {$progress}%;"></div>
		    </div>
		    <a href="{link status! $videoId}" style="display:none;" id="statusLink" class="ajax">link</a>
	    {/if}
	    {if $download}
    	    <div class="alert alert-success">
    	    	<button type="button" class="close" data-dismiss="alert">&times;</button>
    			File {$data['filename']} has been converted. Click to download.
    		</div>	    	
			<p style="text-align:center">
				<a href="{link Homepage:download $videoId}" id="downloadBtn" class="btn btn-large btn-primary">Download</a>
			</p>
	    {/if}	
	{/snippet}

	<p style="text-align:center; display:none;" id="stopwatch">00:00</p>
</div><!--/span-->
{/#}


{#avgtime}
<p style="text-align:center;">
{$avgtime}
</p>
{/#}