<!DOCTYPE html>
<html lang="en">
 	<head>
		<meta charset="utf-8">
		<title>Youtube FREE list converter to mp3, {$host}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="{$basePath}/css/bootstrap.css" rel="stylesheet">    
		<link href="{$basePath}/css/bootstrap-responsive.css" rel="stylesheet">
		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
		<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="{$basePath}/ico/favicon.ico">
  	</head>

  	<body>  

		<div class="container-fluid">
			<div class="row-fluid">
				{snippet flashMessages}
					<div class="span11">
					{foreach $flashes as $flash}
						<div class="alert alert-{$flash->type}">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{$flash->message}
						</div>
					{/foreach}
					</div>
				{/snippet}

				{include #content}
			</div><!--/row-->
		<hr>

		<footer>
			<p>&copy; {date('Y')} <a href="http://{$host}">{$host}</a>. This page do not store any files, page is ONLY for educational purposes.</p>
			{include #avgtime}
		</footer>

		</div><!--/.fluid-container-->

	    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	   
    	{#scripts}
			<script src="{$basePath}/js/jquery.js"></script>
			<script src="{$basePath}/js/bootstrap.min.js"></script>
			<script src="{$basePath}/js/netteForms.js"></script>
			<script src="{$basePath}/js/jquery.stopwatch.js"></script>
			<script src="{$basePath}/js/main.js"></script>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37449844-1']);
		  _gaq.push(['_setDomainName', {$host}]);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		{/#}

  	</body>
</html>
