body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
#frm-processForm-link {
	min-width: 200px;
	height: 38px;
}
.hero-unit {
	text-align: center;
}
.form-search {
  padding-top: 60px;      
}
footer {
	text-align: center;
	font-size: 85%;
}